* {
  margin: 0;
  padding: 0;
}
html {
  --primary: #222;
  --menu-bgcolor: #e5ecf5;
  --main-bgcolor: #e5ecf5;
  --border: #f2f2f1;
  --grey: #e6e5e6;
  --font-color-grey: #707073;
  --font-color-blue: #517eaf;
  --font-color-white: #fdfeff;
  --scroll-color: #e5ecf5;
  --scrollbar-color: #d0d0d0;
  --playbar-bgcolor: #517eaf;
  --player-bgcolor: #222;
  --font-lignt: #fdfeff;
  --theme-color: #ecf0f2;
  --card-color: #f6f9fb;
}
.font-color {
  color: var(--font-color-grey) !important;
}
.card-color {
  background: var(--card-color) !important;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: var(--font-color-grey);
  background-color: #e5ecf5;
  height: 100vh;
  min-width: 1920px;
  margin: auto;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.flex-1 {
  flex: 1;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.size-contain {
  height: 100%;
  width: 100%;
}
// 滚动条
::-webkit-scrollbar-track {
  background-color: var(--scroll-color);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis(@line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
}
.all100 {
  height: 100%;
  width: 100%;
}
